In [1]:
my_list=[1,2,5,3,6]

In [2]:
my_list

[1, 2, 5, 3, 6]

In [3]:
print(my_list)

[1, 2, 5, 3, 6]

In [4]:
type(my_list)

list

In [5]:
my_list=["my name",25.3,True]

In [6]:
my_list

['my name', 25.3, True]

In [7]:
len(my_list)

3

In [8]:
loss_function=["mean absolute",'mean square error','shibni','sanakr']

In [9]:
print(loss_function)

['mean absolute', 'mean square error', 'shibni', 'sanakr']

In [10]:
print(loss_function[1])

mean square error

In [11]:
print(loss_function[3])

sanakr

In [12]:
print(loss_function[-1])

sanakr

In [13]:
#list_slicing

In [14]:
loss_function

['mean absolute', 'mean square error', 'shibni', 'sanakr']

In [15]:
loss_function[1:3]

['mean square error', 'shibni']

In [16]:
len(loss_function*6)

24

In [17]:
loss_function

['mean absolute', 'mean square error', 'shibni', 'sanakr']

In [18]:
new=[5,3,5,35,2,4,35,12,53,4,25]

In [19]:
min(new)

2

In [20]:
new_list=['shibani',"sankar","Ai_strings_2.ipynb"]

In [21]:
max(new_list)

'shibani'

In [22]:
min(new_list)

'Ai_strings_2.ipynb'

In [23]:
#sum

In [24]:
new_list=[6,3,6,6,8,5,55,5,65,4]

In [25]:
sum(new_list)

163

In [26]:
#sorted

In [27]:
new_list

[6, 3, 6, 6, 8, 5, 55, 5, 65, 4]

In [28]:
sorted(new_list)

[3, 4, 5, 5, 6, 6, 6, 8, 55, 65]

In [29]:
sorted(new_list,reverse=True)

[65, 55, 8, 6, 6, 6, 5, 5, 4, 3]

In [30]:
new_list

[6, 3, 6, 6, 8, 5, 55, 5, 65, 4]

In [31]:
my_list

['my name', 25.3, True]

In [38]:
my_list=[1,23,6,2]

In [39]:
len(my_list)

4

In [40]:
my_list.append(40)

In [41]:
my_list

[1, 23, 6, 2, 40]

In [43]:
my_list

[1, 23, 6, 2, 40]

In [42]:
my_list.extend(10)

TypeError: 'int' object is not iterable

In [44]:
len(my_list)

5

In [46]:
my_list.append([2,2,1,4])

In [47]:
my_list

[1, 23, 6, 2, 40, [2, 2, 1, 4]]

In [49]:
my_list[-1][-1]

4

In [50]:
my_list

[1, 23, 6, 2, 40, [2, 2, 1, 4]]

In [51]:
my_list.extend("shibani",'kuna')

TypeError: list.extend() takes exactly one argument (2 given)

In [52]:
shi=[1,3,6,34,5]

In [53]:
print(shi)

[1, 3, 6, 34, 5]

In [57]:
shi.extend(["shibani","nayak"])

In [58]:
shi

[1, 3, 6, 34, 5, 's', 'h', 'i', 'b', 'a', 'n', 'i', 'shibani', 'nayak']

In [59]:
#pop

In [60]:
my_list

[1, 23, 6, 2, 40, [2, 2, 1, 4]]

In [61]:
my_list.pop()

[2, 2, 1, 4]

In [62]:
my_list.pop(0)

1

In [63]:
my_list

[23, 6, 2, 40]

In [64]:
my_list.append(10)

In [65]:
my_list

[23, 6, 2, 40, 10]

In [67]:
my_list.extend('AI_intrgers,float,bolin_1.ipynb2')

In [68]:
my_list

[23,
 6,
 2,
 40,
 10,
 'A',
 'I',
 '_',
 'i',
 'n',
 't',
 'r',
 'g',
 'e',
 'r',
 's',
 ',',
 'f',
 'l',
 'o',
 'a',
 't',
 ',',
 'b',
 'o',
 'l',
 'i',
 'n',
 '_',
 '1',
 '.',
 'i',
 'p',
 'y',
 'n',
 'b',
 '2']

In [69]:
my_list.pop(2)

2

In [70]:
my_list

[23,
 6,
 40,
 10,
 'A',
 'I',
 '_',
 'i',
 'n',
 't',
 'r',
 'g',
 'e',
 'r',
 's',
 ',',
 'f',
 'l',
 'o',
 'a',
 't',
 ',',
 'b',
 'o',
 'l',
 'i',
 'n',
 '_',
 '1',
 '.',
 'i',
 'p',
 'y',
 'n',
 'b',
 '2']

In [71]:
my_list=[2,3,65,85,5,5,6,5,55,456,4]

In [72]:
my_list.remove(2)

In [73]:
my_list

[3, 65, 85, 5, 5, 6, 5, 55, 456, 4]

In [74]:
#count

In [75]:
print(my_list)

[3, 65, 85, 5, 5, 6, 5, 55, 456, 4]

In [76]:
my_list.count(5)

3

In [77]:
#index

In [78]:
print(my_list)

[3, 65, 85, 5, 5, 6, 5, 55, 456, 4]

In [80]:
my_list.index(4)

9

In [81]:
my_list

[3, 65, 85, 5, 5, 6, 5, 55, 456, 4]

In [82]:
my_list.sort(reverse=True)

In [83]:
my_list

[456, 85, 65, 55, 6, 5, 5, 5, 4, 3]

In [84]:
my_list.sort()

In [85]:
my_list

[3, 4, 5, 5, 5, 6, 55, 65, 85, 456]

In [1]:
##
Temp=[12,52,69,59,35,66,2582,3,6,2,5,52]

In [2]:
max_temp=max(Temp)

In [3]:
max_temp

2582

In [4]:
max_temp_index=Temp.index(max_temp)

In [7]:
max_temp_index

TypeError: 'int' object is not callable