In [1]:
my_tuple=(1,'a',3)

In [3]:
print(my_tuple)

(1, 'a', 3)

In [4]:
#index

In [5]:
my_tuple

(1, 'a', 3)

In [6]:
my_tuple[0]

1

In [7]:
my_tuple[-1]

3

In [8]:
#slicing

In [1]:
my_tuple

NameError: name 'my_tuple' is not defined

In [2]:
sh=(1,3,5,6,'shibaniu',3.2)

In [3]:
len(sh)

6

In [4]:
sh[0]

1

In [5]:
sh[3]

6

In [6]:
type(sh)

tuple

In [10]:
sh[2:6:2]

(5, 'shibaniu')

In [8]:
sh

(1, 3, 5, 6, 'shibaniu', 3.2)

In [12]:
sh[:2:6]

(1,)

In [15]:
sh[-4:]

(5, 6, 'shibaniu', 3.2)

In [16]:
len(sh)

6

In [17]:
rand=(1,2,3,58,5)

In [18]:
sorted(rand)

[1, 2, 3, 5, 58]

In [19]:
sh

(1, 3, 5, 6, 'shibaniu', 3.2)

In [21]:
sh.index(3)

1

In [22]:
sh.index(6)

3

In [23]:
#count

In [24]:
sh.count(3)

1

In [25]:
#zip

In [26]:
city_list=['bhadrak',"bhubneswar0","cuttac"]
rever_list=['Yamuna','ganga','mahandi']

In [27]:
shibanu=list(zip(city_list,rever_list))

In [105]:

set1 = {'21',34,68)
set2 = {83,21,90}
set1.union (list(set2))

{'21', 21, 34, 68, 83, 90}

In [100]:
print(set3)

({34, 68, 21}, {90, 83, 21})

In [28]:
shibanu

[('bhadrak', 'Yamuna'), ('bhubneswar0', 'ganga'), ('cuttac', 'mahandi')]

In [29]:
#set

In [30]:
empty_set=set()

In [31]:
set={1,3,6,2}

In [32]:
set

{1, 2, 3, 6}

In [33]:
my={}

In [34]:
my

{}

In [35]:
type(my)

dict

In [39]:
s2={'key':[5,3,5]}

In [40]:
type(s2)

dict

In [41]:
set.add('await')

In [42]:
set

{1, 2, 3, 6, 'await'}

In [43]:
set.add(2)

In [44]:
set

{1, 2, 3, 6, 'await'}

In [45]:
my_set={5,3,6,5}

In [46]:
my_set

{3, 5, 6}

In [47]:
my_set.update([10,30,20])

In [48]:
my_set

{3, 5, 6, 10, 20, 30}

In [49]:
#remove

In [50]:
my_set

{3, 5, 6, 10, 20, 30}

In [51]:
my_set.remove(5)

In [52]:
my_set

{3, 6, 10, 20, 30}

In [53]:
my_set.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [54]:
#union

In [59]:
a={1,23,6,5,2,5}
b={1,12,4,4,6,24,4,4}

In [60]:
a.union(b)

{1, 2, 4, 5, 6, 12, 23, 24}

In [61]:
a | b

{1, 2, 4, 5, 6, 12, 23, 24}

In [62]:
a.intersection(b)

{1, 6}

In [63]:
a & b

{1, 6}

In [64]:
#differencwe

In [65]:
a.difference(b)

{2, 5, 23}

In [66]:
a-b

{2, 5, 23}

In [67]:
b.difference(a)

{4, 12, 24}

In [68]:
#symetinc

In [69]:
a.symmetric_difference(b)

{2, 4, 5, 12, 23, 24}

In [70]:
#dictionaries

In [71]:
a=(21,34,565)

In [73]:
a={b}

TypeError: unhashable type: 'set'

In [76]:
list[a]

list[21, 34, 565]

In [77]:
a

(21, 34, 565)

In [78]:
a[1:2:0]

ValueError: slice step cannot be zero

In [80]:

a={3,2,6,8,5,8}
print(a)

{2, 3, 5, 6, 8}

In [81]:
a.remove(8)

In [82]:
a

{2, 3, 5, 6}

In [84]:
a={"book", "paper","draw","dance"}

b={'hike','tour', 'dance' ,'work'}

In [85]:
a.intersection(b)

{'dance'}